<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <link rel="stylesheet" href="//cdn.materialdesignicons.com/2.0.46/css/materialdesignicons.min.css">
    <link rel="stylesheet" type="text/css" href="./styles/jqx.base.css" />
    <link rel="stylesheet" type="text/css" href="./vendor/bootstrap/css/bootstrap.min.css" />
    <link rel="manifest" href="./manitest.json">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <meta property="og:image" content="<%= BASE_URL %>images/bacground-login.jpg"/>
    <style>
      
body::-webkit-scrollbar {
  width: 5px;
}
/* Track */
body::-webkit-scrollbar-track {
  background: #f1f1f1;
}
/* Handle */
body::-webkit-scrollbar-thumb {
  background: #0051e9;
}
/* Handle on hover */
body::-webkit-scrollbar-thumb:hover {
  background: #0051e9;
}
.background {padding: 7px 15px;background: #0051e9; color: #fff;}
body,html {
  font-size: 13px;;
}
.btn-form {margin: 0 15px;color: #fff;}

    </style>
    <link rel="stylesheet" href="https://unpkg.com/vue-multiselect@2.1.0/dist/vue-multiselect.min.css">
    <title>app</title>
  </head>
  <body >
    <div id="app"></div>
    <div id="messages"></div>
    <!-- built files will be auto injected -->
  </body>
  <script src="./vendor/bootstrap/js/jquery-3.4.1.min.js"></script>
  <script src="./vendor/bootstrap/js/bootstrap.min.js"></script>



</html>
