<template>
<div class="item-congviec">
     <div class="row">
        <div class="column" style="text-align:center">
            <button class="btn-show"> <i class="fa fa-angle-down"></i> </button>
            <input  style="margin:auto; display:none"  type="checkbox" :disabled="data.trang_thai != 3" v-model="checkedRows[index]" 
            :value="data.id_cv_da" :native-value="data.id_cv_da" @change="checkThamDinh"
            v-bind:true-value="data.id_cv_da" v-bind:false-value="''" />
        </div>
        <div class="column"  v-for="(setting,index) in GET_SETTING" :key="index" :style="`width: ${setting.width}`">
            <span class="ten_cv" v-if="setting.column == 'ten_cv'"  @click="$store.dispatch('openTask',data.id_cv_da)"> {{data[setting.column]}}</span>
            <span v-else-if="setting.column == 'trang_thai'"> {{data[setting.column] == 1 ? 'Chưa thực hiện' :  data[setting.column] ==  2 ? 'Đang thực hiện' : 'Đã hoàn thành'}}</span>
                <span v-else-if="setting.column == 'noi_dung_cv'"> {{data[setting.column] == null ? '' :(data[setting.column]).slice(0,50)}}...</span>
            <span v-else> {{data[setting.column]}}</span>

        </div>
        <div class="cloumn action">
            <ul class="group-action">
                <li class="level-1"> 
                    <b-button class="btn-action" icon-left="more"  @click="$store.dispatch('openTask',data.id_cv_da)"></b-button>
                    <ul>
                        
                        <li class="level-1"> 
                            <b-button class="btn-action" icon-left="pen"  @click="$store.dispatch('openTask',data.id_cv_da)"></b-button>
                            <b-button class="btn-action" icon-left="delete"  @click="deleteCongViec(data.id_cv_da)"></b-button>
                            <b-button class="btn-action" icon-left="update"  @click="$store.dispatch('openBaoCao',data.id_cv_da)"></b-button>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>

</template>

<script>
import  {mapGetters} from 'vuex'
export default {
    props:["data", "checkedRows", "index"],
    computed: {
        ...mapGetters(["GET_SETTING"])
    },
    methods:
    {
        checkThamDinh(e)
        {
            if(e.target.checked == true)
            {
            
            }
            else
            {
                const IndexTD = this.checkedRows.findIndex((row) => 
                '' == row
            )
            this.checkedRows.splice(IndexTD,1)
            }
            this.$emit("updateThamDinh", this.checkedRows)
        },
        deleteCongViec($id)
        {
            this.$emit("updateModal", true)
            this.$emit("updateIDdelete", $id)
            this.isModalDelete = true
            this.ID_CV_DA = $id
        },
    }
}
</script>